body {
  font-family: sans-serif;
}

read-list > .tiles {
  margin: 0 auto;
  max-width: 600px;
}

read-list > .tiles > a {
  position: relative;
  display: flex;
  min-height: 200px;
  margin: 20px 0;
  background: #FFF;
  color: #000;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

read-list > .tiles > a::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  content: '';

  box-shadow: #999 0 0 20px;
  opacity: 0.5;

  transition: opacity 0.4s;
  will-change: opacity;
}

read-list > .tiles > a:hover::before {
  opacity: 1;
}

read-list > .tiles > a > img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

read-list > .tiles > a > .info {
  flex: 1;
  display: flex;
  flex-direction: column;
}

read-list > .tiles > a > .info > h2 {
  flex: 1;
  margin: 20px;
  font-size: 1.2em;
}

read-list > .tiles > a > .info > .meta {
  margin: 0 20px 20px;
}

read-list > .tiles > a > .info > .meta > .category {
  float: right;
}

@media (max-width: 500px) {
  read-list > .tiles > a {
    flex-direction: column;
  }

  read-list > .tiles > a > img {
    width: 100%;
    height: 200px;
  }
}

read-post figure {
  margin: 0;
}

read-post figure img,
read-post read-video img {
  width: 100%;
}
