<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ title }}</title>

    <link rel="stylesheet" type="text/css" href="/static/style.css">

    <script>
      var Polymer = {lazyRegister: true, dom: 'shadow'};
    </script>
  </head>
  <body>
    <read-app>
      <read-post>
        <h1>{{ title }}</h1>

        {{ html | safe }}
      </read-post>
      <link rel="import" href="/elements/read-post.html">

    </read-app>
    <link rel="import" href="/elements/read-app.html">

    <script>
      (function() {
        if ('registerElement' in document
            && 'import' in document.createElement('link')
            && 'content' in document.createElement('template')) {
          // platform is good!
        } else {
          // polyfill the platform!
          var e = document.createElement('script');
          e.src = '/bower_components/webcomponentsjs/webcomponents-lite.min.js';
          document.body.appendChild(e);
        }

        // Load pre-caching Service Worker
        // if ('serviceWorker' in navigator) {
        //   window.addEventListener('load', function() {
        //     navigator.serviceWorker.register('/service-worker.js');
        //   });
        // }
      })();
    </script>
  </body>
</html>
